{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "semi": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true
}
